@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+TC:wght@200..900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700;1,900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');
*, *::after, *::after {
  box-sizing: border-box;
  /*outline: solid 1px;*/
}
img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: var(--color-black);
}
:root {
  --font-size-title: 28px;
  --color-blue: #0027d5;
  --color-black: #4b4b4b;
}
.color-blue {
  color: var(--color-blue);
}
.color-black {
  color: var(--color-black);
}
body {
  font-family: "Noto Sans TC",sans-serif;
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  word-break: break-word;
  background-color: #fbfbfb;
}
