.main-wrap {
  display: flex;
  flex-direction: column;
  padding: 80px 0;
}
.form {
  border: 1px solid var(--color-black);
  padding: 16px 48px 16px 16px;
  border-radius: 40px;
  position: relative;
  width: fit-content;
  display: flex;
}
.search {
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
  z-index: 10;
  margin-right: 10px;
}
.search-input {
  width: 318px;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-black);
}
.article-list {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 80px 2%;
}
.article-list .card{
  overflow: hidden;
}
.article-list .card img{
  transition: all 0.4s ease;
}
.article-list .card:hover img{
  transform: scale(1.2,1.2);
}
.number-list {
  padding: 8px 20px;
  border-radius: 40px;
  text-align: center;
  display: flex;
  align-self: center;
  background-color: #ffffff;	
}
.number-item a {
  display: block;
  padding:5px 10px;
	border-radius:50%;
  /*width: 40px;
  height: 40px;
  line-height: 40px;*/
  transition: all .4s;
}
.number-item a:hover, .number-list .active a {
  color: #ffffff;
  background-color: var(--color-blue);
}
@media screen and (max-width:768px) {
  .search {
    margin: 0;
  }
  .search-input {
    width: 253px;
  }
  .card {
    margin: 0 0 32px;
  }
}
@media screen and (max-width:480px) {
  .title{
    font-size: 24px;
  }
  .form {
    padding: 16px 12px;
  }
  .number-item a {
    width: 30px;
    height: 38px;
  }
}
