.article {
	padding: 80px 330px
}
.article-section {
	margin: 0 0 48px
}
.article-section img {
	margin: 0 0 24px
}
.article-title{
	font-size: var(--font-size-title);
	font-weight: 700;
	margin: 0 0 24px
}
.subtitle {
	font-size: 20px;
	font-weight: 700;
	margin: 0 0 12px
}
.article-text {
	margin: 0 0 8px
}
.ol-text-list,.ul-text-list {
	padding-left: 16px
}
.ol-text-list {
	list-style: blobk;
	margin: 0 0 24px
}
.ul-text-list {
	list-style: disc;
	margin: 0 0 24px
}
.text-area {
	padding: 24px;
	background-color: #ededed;
	border-radius: 24px;
	margin: 0 0 24px
}
.text-end {
	margin: 24px 0
}
.btn-contact{
	text-decoration: underline;
}
.page-list {
	display: flex;
	justify-content: space-between
}
.page-item {
	padding: 8px 16px;
	border: 1px solid #000;
	border-radius: 40px
}
.page-item a {
	display: block;
	color: #4b4b4b;
	transition: all .4s ease
}
.page-item:hover {
	background-color: var(--color-blue)
}
.page-item:hover a {
	color: #fff
}
.page-item .bi {
	display: inline-block;
	width: 24px;
	height: 24px
}

.bi-chevron-compact-left {
	margin-right: 4px
}
.bi-chevron-compact-right {
	margin-left: 4px
}
@media screen and (max-width:991px) {
	.article {
		padding-left: 0;
		padding-right: 0
	}
}
}
